#tablaInfoZonas {
	font-size: 11px;
}

#DivRegistro {
	width: 50%;
	font-size: 8px;
	border-style: groove;
	background: whitesmoke;
}

#mensaje {
	position: fixed;
	z-index: 1;
	left: 45%;
	top: 20%;
	width: 350px;
}